@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: left bottom -5em;
  min-height: 100vh;
  background-color: var(--very-dark-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --gradient-left: hsl(6, 100%, 80%);
  --gradient-right: hsl(335, 100%, 65%);
  /* Neutral */
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

.container {
  display: flex;
  gap: 2em;
  align-items: flex-end;
}

.header {
  padding: 2em;
  padding-right: 6em;
  border-radius: 0.5em;
  border-top-right-radius: 5em;
  background-color: var(--dark-blue);
}

.menu {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}

.menu-item {
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-wrap {
  padding: 2.2em;
  background-color: var(--dark-blue);
  border-radius: 0.5em;
  position: relative;
}

.desc,
.extents {
  color: var(--pale-blue);
}

.desc > span,
.extents {
  font-weight: 700;
}

.prog-bar-outer {
  margin-top: 1.5em;
  background-color: var(--very-dark-blue);
  border-radius: 5em;
  height: 1em;
  width: 30em;
  position: relative;
}

.prog-bar-inner {
  position: absolute;
  height: 0.8em;
  width: 81.5%;
  background-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  top: 50%;
  transform: translateY(-50%);
  left: 0.1em;
  border-radius: 5em;
}

.prog-point {
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background-color: var(--pale-blue);
  border-radius: 1em;
  top: 50%;
  transform: translateY(-50%);
  right: 0.1em;
}

.extents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.8em;
}

.tooltip-text {
  position: absolute;
  right: 2em;
  top: -2em;
  padding: 0.6em 1.2em;
  background-color: white;
  border-radius: 0.6em;
  font-size: 0.8rem;
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-weight: 700;
}

.tooltip-text > span {
  color: var(--very-dark-blue);
  font-size: 2.2rem;
}

.tip {
  position: absolute;
  bottom: -1.5em;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2em 2em 0;
  border-color: transparent #fff transparent transparent;
}

@media screen and (max-width: 900px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-position: top left;
    background-size: cover;
  }
  .container {
    flex-direction: column;
  }

  .header {
    align-self: stretch;
  }

  .prog-bar-outer {
    width: 100%;
  }

  .tip {
    display: none;
  }

  .tooltip-text {
    top: unset;
    bottom: -2em;
    transform: translateX(-50%);
  }

  .stat-wrap {
    padding-bottom: 3em;
  }
}
