@import "../../../shared/variables";

div.dialog-container {
  background-color: $white;
  border-radius: 8px;
  padding: 1.5em;
  h3 {
    color: $dark-blue;
  }
  p {
    margin: 1em 0;
    line-height: 1.2em;
  }
  div.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    button {
      padding: 1em 2em;
      border-radius: 8px;
      border: 0;
      font-weight: bold;
      color: $white;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    button.cancel {
      background-color: $grayish-blue;
    }
    button.confirm {
      background-color: $soft-red;
    }
  }
}
