* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Commissioner', sans-serif;
}

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

.header-menu-ham {
  display: none;
  z-index: 1;
}

.ham-close {
  display: none;
}

.header-wrap {
  background-image: url(../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 40vh;

  display: flex;
  justify-content: space-between;
  padding: 2em 8em;
  align-items: flex-start;
  z-index: 1;
}

.header-menu {
  display: flex;
  gap: 1.5em;
  justify-content: flex-end;
  color: white;
  align-items: flex-start;
}
.header-menu-item:hover {
  cursor: pointer;
}

.container-wrap {
  width: 60%;
  max-width: 750px;
  margin: auto;

  position: relative;
  top: -5em;
  background: white;
  border-radius: 5px;
}

.content-wrap {
  box-shadow: 0 0 5px #00000045;
  border-radius: 5px;
  padding: 3em;
  margin-bottom: 2em;
}

.section-title {
  text-align: center;
}

.main-title {
  padding: 1em 0 0.8em;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--black);
}

.main-desc {
  color: var(--dark-gray);
  padding-bottom: 2em;
}

.section-title-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section-title-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.back-this-button {
  padding: 1em 2em;
  color: white;
  font-weight: 700;
  background-color: var(--moderate-cyan);
  border-radius: 10em;
}

.back-this-button:hover {
  background-color: var(--dark-cyan);
  cursor: pointer;
}

.bookmark-button-wrap {
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 1.5em;
  gap: 1em;

  background-color: hsla(0, 0%, 48%, 0.2);
  border-radius: 10em;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.5);
}

.bookmark-button-wrap:hover {
  cursor: pointer;
}

.bookmark-button-wrap:hover > img {
  filter: brightness(250%);
}

.bookmark-button-wrap.bookmarked {
  color: var(--dark-cyan);
}

.bookmark-button-wrap.bookmarked > img {
  content: url(../images/icon-bookmarked.svg);
}

.bookmark-button-wrap:hover.bookmarked > img {
  filter: unset;
}

.stat-items {
  display: flex;
}

.stat-item {
  width: 30%;
}

.stat-items > .stat-item:not(:first-child) {
  padding-left: 2em;
  border-left: 1px solid #80808042;
}
.stat-item > .stat-num {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 0.4em;
}
.stat-item > span {
  color: var(--dark-gray);
}

.stat-bar {
  margin-top: 2em;
  position: relative;
  border-radius: 5em;
  height: 0.8em;
  background-color: hsla(0, 0%, 48%, 0.2);
}

.stat-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5em;
  height: 100%;
  width: 75%;
  background-color: var(--moderate-cyan);
}

.section-details-title,
.back-this-modal-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black);
}

.section-details-desc,
.back-this-modal-desc,
.product-item > .product-item-desc {
  margin-top: 2em;
  color: hsl(0deg 0% 48% / 75%);
  line-height: 1.5;
  font-weight: 500;
}

.back-this-modal-desc {
  margin-top: 1em;
}

.product-item,
.back-this-modal-item {
  border: 1.5px solid hsl(0deg 0% 48% / 30%);
  border-radius: 5px;
  padding: 1.5em;
  margin-top: 1.5em;
}

.product-item.disabled,
.back-this-modal-item.disabled {
  opacity: 0.4;
}

.product-item > .product-item-desc {
  margin-top: 0;
  padding: 1.5em 0;
}

.product-item-helper-container {
  display: flex;
  justify-content: space-between;
}

.product-item-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black);
}

.product-item-price,
.modal-item-pledge-price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--moderate-cyan);
}

.product-item-count {
  color: var(--dark-gray);
}

.product-item-count > .count-no {
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
}

.product-item-action {
  padding: 1em 2em;
  color: white;
  font-weight: 700;
  background-color: var(--moderate-cyan);
  border-radius: 10em;
}

.product-item-action:hover {
  background-color: var(--dark-cyan);
  cursor: pointer;
}

.product-item-action.disabled {
  background-color: var(--dark-gray);
}

.modal-overlay {
  display: none;
  background: transparent;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.ham-menu-overlay {
  display: none;
  background: transparent;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

.back-this-modal,
.success-modal-wrap {
  display: none;
  position: absolute;
  top: 20vh;
  left: 50%;
  width: 60%;
  max-width: 750px;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 100em 100em #00000073;
  padding: 2em;
  border-radius: 5px;
}

.success-modal-wrap {
  width: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 650px;
  text-align: center;
}

.back-this-modal-close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.modal-item-radio {
  grid-area: topLeft;
  align-self: flex-start;
}

.modal-item-content {
  grid-area: topRight;
}

.pledge-wrap {
  position: relative;
  grid-area: bottomArea;
  padding: 1.5em 0 0 0;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  margin-top: 2em;
  grid-gap: 1em;
  align-items: center;
}

.pledge-wrap.hidden {
  display: none !important;
}

.pledge-wrap > .divider-line {
  width: calc(100% + 3em);
  position: absolute;
  left: -1.5em;
  top: 0;
  height: 1px;
  background-color: hsl(0deg 0% 48% / 30%);
}

.pledge-dir-text {
  color: var(--dark-gray);
}

.pledge-continue-btn {
  padding: 0.8em 1.2em;
  color: white;
  font-weight: 600;
  background-color: var(--moderate-cyan);
  border-radius: 10em;
}

.pledge-continue-btn:hover {
  background-color: var(--dark-cyan);
  cursor: pointer;
}

.back-this-modal-item {
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-areas: 'topLeft topRight' 'bottomArea bottomArea';
  position: relative;
}

.back-this-modal-item.selected {
  border: 2px solid var(--moderate-cyan);
}

.radio-outer {
  width: 1.5em;
  height: 1.5em;
  border-radius: 3em;
  border: 1px solid hsl(0deg 0% 48% / 30%);
  position: relative;
  cursor: pointer;
}

.radio-inner {
  display: none;
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-cyan);
}

.modal-item-title {
  color: var(--black);
  font-weight: 700;
  display: inline-block;
  padding-right: 1em;
}

.modal-item-title:hover {
  color: var(--moderate-cyan);
  cursor: pointer;
}

.modal-item-pledge-price {
  display: inline-block;
}

.modal-item-desc {
  padding-top: 1em;
  color: var(--dark-gray);
  line-height: 1.5;
}

.modal-item-count {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  color: var(--dark-gray);
}

.modal-item-count > .count-no {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--black);
}

.pledge-price-input {
  position: relative;
  border: 1px solid var(--moderate-cyan);
  border-radius: 10em;
  padding: 0.8em 1.5em 0.8em 2em;
  font-weight: 700;
}

.pledge-price-input.selected {
  border: 1.5px solid hsla(0, 0%, 48%, 0.5);
}

.pledge-price-input.selected:hover {
  border: 1.5px solid var(--moderate-cyan);
}

.pledge-price-input > span {
  position: absolute;
  left: 1.5em;
  color: var(--dark-gray);
}

.pledge-price-input > input {
  border: 0;
  width: 100%;
  min-width: 3em;
  outline: none;
  text-align: right;
  font-weight: 700;
  font-size: 1rem;
}

.back-this-modal-item.disabled > .item-disabled-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.back-this-modal-item.disabled > .pledge-wrap {
  display: none !important;
}

.success-modal-title {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5em 0;
  margin-top: 1em;
}

.success-modal-desc {
  line-height: 1.5;
  color: var(--dark-gray);
}

.success-modal-button {
  margin-top: 1.5em;
  padding: 0.8em 2em;
  color: white;
  font-weight: 600;
  background-color: var(--moderate-cyan);
  border-radius: 10em;
  display: inline-block;
}

.success-modal-button:hover {
  background-color: var(--dark-cyan);
  cursor: pointer;
}

.mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .container-wrap {
    width: 75%;
  }

  .back-this-modal {
    width: 75%;
  }

  .success-modal-wrap {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .stat-item {
    width: unset;
  }

  .header-menu {
    position: absolute;
    top: 6em;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 5px;
    z-index: 99;
    width: 85%;
    color: var(--black);
    font-weight: 700;
    display: none;
    box-shadow: 0 0 100em 100em #00000073;
  }

  .header-menu > .header-menu-item:not(:first-child) {
    border-top: 1px solid #00000026;
  }

  .header-menu-item {
    padding: 1.5em;
  }

  .container-wrap {
    width: 85%;
  }

  .back-this-modal {
    width: 85%;
  }

  .success-modal-wrap {
    width: 70%;
  }

  .header-wrap {
    background-image: url(../images/image-hero-mobile.jpg);
    padding: 2.5em 3em;
  }

  .header-menu-ham {
    display: block;
    align-self: flex-start;
    z-index: 100;
  }

  .header-logo {
    z-index: 100;
  }

  .bookmark-button-wrap {
    padding: 0;
  }
  .bookmark-button-wrap > span {
    display: none;
  }

  .stat-items {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .stat-items > .stat-item:not(:first-child) {
    padding-left: 0;
    border-left: 0;
    border-top: 1px solid #80808042;
    margin-top: 1em;
    padding-top: 1em;
  }

  .product-item-helper-container {
    flex-direction: column;
    gap: 0.8em;
  }

  .product-item-action {
    margin-top: 0.5em;
    align-self: flex-start;
  }
  .content-wrap {
    padding: 1.5em;
  }
  .modal-item-count {
    position: unset;
    margin-top: 1em;
  }

  .back-this-modal-item {
    display: block;
  }
  .modal-item-pledge-price {
    margin-top: 0.2em;
    display: block;
  }
  .modal-item-radio {
    display: flex;
    gap: 1em;
    align-items: center;
  }

  .pledge-wrap {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .pledge-dir-text {
    grid-column: span 2;
  }
}

@media screen and (max-width: 425px) {
  .container-wrap {
    width: 90%;
  }

  .back-this-modal {
    width: 90%;
    padding: 1.2em;
  }

  .back-this-modal-item {
    padding: 1em;
  }

  .success-modal-wrap {
    width: 90%;
  }

  .header-menu {
    width: 90%;
  }

  .pledge-wrap > .divider-line {
    width: calc(100% + 2em);
    left: -1em;
  }
}

@media screen and (max-width: 375px) {
  .content-wrap {
    padding: 1em;
  }

  .pledge-price-input {
    padding: 0.8em;
  }

  .pledge-price-input > span {
    left: 1em;
  }

  .header-wrap {
    padding: 2.5em 2em;
  }
}
