@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Primary */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* Neutral */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  font-size: 16px;
}

.mobile {
  display: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.2em 0;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  margin: auto;
  background-color: white;
}

header > nav.nav-menu {
  display: flex;
  gap: 2em;
}

header > nav.nav-menu > a {
  text-decoration: none;
  margin: auto;
  color: var(--dark-grayish-violet);
  font-weight: 700;
  letter-spacing: 2px;
}

header > nav.nav-menu > a.btn {
  color: var(--very-dark-violet);
}

header > nav.nav-menu > a:hover {
  color: var(--very-dark-violet);
}

header > nav.nav-menu > a.btn:hover {
  color: var(--very-light-gray);
  background-color: var(--very-dark-violet);
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

header > figure {
  margin: auto 0;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 0.9;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8rem;
  font-weight: 400;
}

section.banner.container {
  display: flex;
  gap: 2em;
  padding: 7em 0;
}

section.banner.container > * {
  width: 50%;
}

section.banner.container > figure > img {
  width: 100%;
}

section.banner.container > section.content {
  padding-top: 4em;
  position: relative;
  color: var(--very-light-gray);
}

div.line {
  position: absolute;
  width: 10vw;
  height: 1px;
  top: 0;
}

section.banner.container > section.content > div.line {
  background-color: var(--very-light-gray);
}

section.banner.container > section.content > p {
  padding-top: 1em;
  font-family: "Karla", sans-serif;
  line-height: 1.8;
}

section.banner.container > section.content > a.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--very-light-gray);
  margin-top: 2em;
}

section.banner.container > section.content > a.btn:hover {
  background-color: var(--very-light-gray);
  color: var(--dark-violet);
}

section.banner-wrap {
  background-image: url(../images/bg-pattern-intro-left-desktop.svg),
    linear-gradient(180deg, var(--dark-violet) 65%, #fff 35%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, center;
  position: relative;
  overflow: hidden;
}

div.pattern-helper {
  position: relative;
}

section.banner-wrap > img.bg-pattern-intro-right.desktop {
  position: absolute;
  top: 0rem;
  right: 0;
}

div.pattern-helper > img.bg-pattern-intro-right.mobile {
  position: absolute;
  bottom: 0rem;
  right: 0;
  transform: translateY(50%);
}

img.image-intro.mobile {
  width: 100%;
}

section.description {
  position: relative;
  padding: 4em 0;
  color: var(--very-dark-violet);
}

section.description > div.line {
  background-color: var(--dark-grayish-violet);
}

section.description > section.content {
  display: flex;
  padding: 5em 0;
  gap: 1em;
}

section.description > section.content > section.item > *:not(:last-child) {
  padding-bottom: 1em;
}

section.description > section.content > section.item > p {
  font-family: "Karla", sans-serif;
  color: var(--dark-grayish-violet);
  font-weight: 700;
  line-height: 1.5;
}

section.mid-banner-wrap {
  padding: 4.5em;
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

section.mid-banner-wrap > h1 {
  width: 50%;
  font-size: 3.5rem;
}

section.mid-banner-wrap > a {
  text-decoration: none;
  color: var(--very-light-gray);
}

section.mid-banner-wrap > a:hover {
  color: var(--dark-violet);
  background-color: var(--very-light-gray);
}

section.mid-banner.container {
  margin-bottom: 8em;
}

footer {
  background-color: hsla(273, 4%, 51%, 0.1);
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

footer > section.socials {
  display: flex;
  justify-content: space-between;
  padding: 4em 0 2em 0;
  border-bottom: 1px solid hsla(273, 4%, 51%, 0.5);
}

section.social-menu {
  display: flex;
  gap: 1em;
}

section.social-menu > img:hover {
  filter: brightness(0%);
  cursor: pointer;
}

section.foot-menu-wrap {
  padding: 3em 0 4em 0;
  display: flex;
  font-family: "Karla", sans-serif;
  color: var(--dark-grayish-violet);
  font-weight: 700;
  text-transform: uppercase;
}

section.foot-menu-wrap > section.foot-menu-col {
  width: 25%;
  display: flex;
  flex-direction: column;
}

section.foot-menu-wrap > section.foot-menu-col > a {
  text-decoration: none;
  color: var(--dark-violet);
  padding-top: 1em;
}

section.foot-menu-wrap > section.foot-menu-col > span {
  padding-bottom: 1em;
}

section.foot-menu-wrap > section.foot-menu-col > a:hover {
  text-decoration: underline;
}

nav.nav-menu.mobile {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 99;
  width: 100%;
  height: calc(100% - 4rem);
  background-color: var(--very-dark-violet);
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}

nav.nav-menu.mobile > a:first-child {
  margin-top: 2em;
}

nav.nav-menu.mobile > a {
  display: block;
  text-decoration: none;
  margin: 1.5em auto;
  text-align: center;
  color: var(--very-light-gray);
  font-weight: 700;
  letter-spacing: 2px;
  width: 80%;
  font-size: 1.5rem;
}

nav.nav-menu.mobile > a.btn {
  color: var(--very-light-gray);
  padding: 1rem;
}

@media screen and (max-width: 1288px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 1212px) {
  section.banner-wrap {
    background-image: url(../images/bg-pattern-intro-left-desktop.svg),
      linear-gradient(180deg, var(--dark-violet) 75%, #fff 25%);
  }
}

@media screen and (max-width: 1080px) {
  section.banner-wrap {
    background-image: url(../images/bg-pattern-intro-left-desktop.svg),
      linear-gradient(180deg, var(--dark-violet) 80%, #fff 20%);
  }
  section.banner.container {
    padding-top: 5em;
  }

  h1 {
    font-size: 3.5rem;
  }

  section.mid-banner-wrap {
    padding: 3em;
  }

  section.mid-banner-wrap > h1 {
    width: 60%;
    font-size: 3rem;
  }
}

@media screen and (max-width: 950px) {
  section.banner.container > section.content {
    padding-top: 3em;
  }
  section.banner.container {
    padding-top: 3em;
  }
}

@media screen and (max-width: 850px) {
  section.banner.container {
    flex-direction: column;
    align-items: center;
  }

  section.banner.container > * {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .mobile {
    display: unset;
  }
  .desktop {
    display: none;
  }

  header > nav.nav-menu {
    display: none;
  }

  header > nav.ham-menu > .menu-close {
    display: none;
  }

  section.banner-wrap {
    top: -0.5em;
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-color: var(--dark-violet);
  }
  section.banner.container {
    padding: 4em 0;
  }

  section.banner.container > section.content {
    text-align: center;
  }

  section.banner.container > section.content > h1 {
    font-size: 2.5rem;
  }

  section.banner.container > section.content > p {
    line-height: 1.5;
  }

  section.description {
    text-align: center;
    margin-top: 8em;
  }

  section.description > h1 {
    font-size: 2.5rem;
  }

  section.description > section.content {
    flex-direction: column;
  }

  section.description > section.content > section.item:not(:first-child) {
    padding-top: 3em;
  }

  section.mid-banner-wrap {
    flex-direction: column;
    text-align: center;
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  }

  section.mid-banner-wrap > h1 {
    width: 100%;
    font-size: 2.5rem;
  }

  section.mid-banner-wrap > a {
    margin-top: 3em;
  }

  footer {
    text-align: center;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
  }
  footer > section.socials {
    flex-direction: column;
  }

  footer > section.socials > section.social-menu {
    margin-top: 1.5em;
    justify-content: center;
  }

  section.foot-menu-wrap {
    flex-direction: column;
    gap: 3em;
  }

  section.foot-menu-wrap > section.foot-menu-col {
    width: 100%;
  }
  section.description > div.line {
    width: 50vw;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
}
