@import "../../../shared/variables";

.reply-comments-container {
  margin-left: 3em;
}

span.replyTo {
  color: $moderate-blue;
  font-weight: bold;
}

div.card-container {
  display: flex;
  border-radius: 5px;
  background-color: $white;
  padding: 1.5em 1.5em 1.5em 0;
  position: relative;
  div.score-container-outer {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    div.score-container {
      display: flex;
      flex-direction: column;
      background-color: $light-gray;
      width: 2.5em;
      border-radius: 8px;
      gap: 1em;
      align-items: center;
      padding: 1em 0 1em;
      margin: 0;
      span {
        color: $moderate-blue;
        font-weight: bold;
      }
      img {
        width: 0.8em;
        cursor: pointer;
        &:hover {
          filter: brightness(0.5);
        }
      }
    }
  }
  div.comment-container {
    width: 90%;
    div.comment-header {
      display: flex;
      justify-content: flex-start;
      gap: 1em;
      flex-wrap: wrap;
      align-items: center;
      img.user-avatar {
        height: 2em;
        width: 2em;
      }
      span.you {
        background-color: $moderate-blue;
        color: $white;
        padding: 0.2em 0.5em;
        font-size: small;
        border-radius: 3px;
        font-weight: bold;
      }
      span.user-name {
        color: $dark-blue;
        font-weight: bold;
      }
    }
    div.comment-actions {
      position: absolute;
      top: 1.5em;
      right: 1.5em;
      display: flex;
      gap: 1em;
      div.action-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-weight: bold;
        color: $moderate-blue;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
        &.delete {
          color: $soft-red;
        }
      }
    }
    div.comment-text {
      margin-top: 1em;
      line-height: 1.5em;
    }
    textarea.content-textarea {
      margin-top: 1em;
      width: 100%;
    }
    button.comment-action {
      margin-top: 1em;
      float: right;
      width: 7em;
    }
  }
}

@media screen and (max-width: 768px) {
  div.card-container {
    flex-direction: column;
    padding: 1.5em;
    gap: 1em;
    border-radius: 0.7em;
    div.score-container-outer {
      order: 2;
      justify-content: flex-start;
      div.score-container {
        flex-direction: row;
        width: unset;
        padding: 0.7em 1em;
      }
    }
    div.comment-container {
      order: 1;
      width: 100%;
      div.comment-actions {
        top: unset;
        right: 1.5em;
        bottom: 1.5em;
        padding: 0.7em 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  div.card-container {
    div.comment-container {
      div.comment-actions {
        gap: 0.3em;
        right: 1em;
      }
    }
  }
}
