@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital@0;1&display=swap");

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif; */

:root {
  --cl-red: hsl(0, 100%, 68%);
  /* Neutral */
  --cl-very-dark-blue: hsl(230, 29%, 20%);
  --cl-dark-grayish-blue: hsl(230, 11%, 40%);
  --cl-grayish-blue: hsl(231, 7%, 65%);
  --cl-light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  font-size: 18px;
}

/* body {
  overflow-x: hidden;
} */

div.bg-helper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: radial-gradient(
      7em 7em at calc(50% + 3.5em) calc(50% - 3.5em),
      var(--cl-light-grayish-blue) 50%,
      transparent 50%
    ),
    linear-gradient(var(--cl-light-grayish-blue), var(--cl-light-grayish-blue))
      100% 0% / 50% calc(50% - 3.5em),
    linear-gradient(var(--cl-light-grayish-blue), var(--cl-light-grayish-blue))
      100% calc(50% - 3.5em) / calc(50% - 3.5em) 7em;
  background-repeat: no-repeat;
}

div[role="header"] {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 4em auto;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

nav.menu.desktop {
  display: flex;
  gap: 2em;
  color: var(--cl-very-dark-blue);
  align-items: center;
}

.mobile {
  display: none;
}

/* nav.menu > div.menu-item.login-btn::before {
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 2em;
    background-color: hsl(231, 7%, 65%);
  } */
nav.menu.desktop > div.menu-divider > div.desktop {
  height: 0.5em;
  width: 0.5em;
  border-radius: 1em;
  background-color: var(--cl-grayish-blue);

  /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}

nav.menu.mobile > div.menu-divider > div.mobile {
  height: 0.1em;
  width: 100%;
  background-color: var(--cl-light-grayish-blue);

  /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}

div.menu-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav.menu > div.menu-item.login-btn {
  color: var(--cl-grayish-blue);
  /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}

div.content {
  display: flex;
  margin-top: 6em;
  font-family: "Barlow Condensed", sans-serif;
}

div.content > .content-item {
  width: 50% !important;
}

div.content > .content-item.left {
  padding: 0 6% 0 10%;
}

div.content > .content-item.right {
  overflow-x: hidden;
}

div.content > .content-item.right > img {
  width: 130%;
}

span.decor-highlight {
  background-color: var(--cl-very-dark-blue);
  border-radius: 1em;
  padding: 0.1em 0.5em;
  color: var(--cl-light-grayish-blue);
  font-weight: 700;
}

div.heading-decorator,
div.heading-big,
div.actions {
  text-transform: uppercase;
}

div.heading-decorator > span:last-child {
  letter-spacing: 4px;
  color: var(--cl-grayish-blue);
  padding-left: 1em;
}

div.heading-big {
  font-weight: 700;
  font-size: 3rem;
  color: var(--cl-very-dark-blue);
  line-height: 1;
  padding-top: 0.5em;
}

div.description {
  padding-top: 2em;
  font-family: "Barlow", sans-serif;
  width: 60%;
}

div.actions {
  margin-top: 5em;
}

a.action-btn {
  padding: 0.8em 2em;
  background-color: var(--cl-red);
  border-radius: 0.3em;
  text-decoration: none;
  font-weight: 700;
  color: var(--cl-light-grayish-blue);
}

a.action-btn:hover {
  opacity: 0.7;
}

div.actions > span {
  padding-left: 1em;
  letter-spacing: 5px;
  color: var(--cl-grayish-blue);
}

@media screen and (max-width: 1345px) {
  div.content > .content-item.left {
    padding: 0 1em 0 10%;
  }
}

@media screen and (max-width: 1190px) {
  div.content > .content-item.left {
    padding: 0 1em 0 5%;
  }
  div[role="header"] {
    width: 90%;
  }
}

@media screen and (max-width: 1055px) {
  div.actions > span {
    padding-left: 0;
    display: block;
    padding-top: 1em;
  }
}

@media screen and (max-width: 768px) {
  nav.menu.mobile {
    display: none;
    font-weight: 700;    
    text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 0.2em;
    text-align: center;
    padding: 1em;
    font-size: 1.5rem;
  }

  div.menu-item:not(:last-child) {
    padding-bottom: 1em;
  }

  div.menu-item:last-child {
    padding-top: 1em;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }
  .icon-close {
    display: none;
  }

  div.content {
    /* display: flex;
    margin-top: 8em;
    font-family: "Barlow Condensed", sans-serif; */
    flex-direction: column;
    margin-top: 3em;
  }

  div.content > .content-item.right {
    order: 1;
  }
  div.content > .content-item.left {
    order: 2;
    padding: 20% 10%;
  }

  div.content > .content-item {
    width: 100% !important;
  }
  div[role="header"] {
    margin: 2em auto;
    width: 80%;
  }
  div.content > .content-item.right > img {
    margin-left: 5%;
  }
  div.heading-big {
    font-size: 2.5rem;
  }
  div.description {
    padding-top: 1.5em;
    width: 90%;
  }
  div.actions {
    margin-top: 3em;
  }

  div.actions > span {
    padding-left: 1em;
    display: inline;
    padding-top: 0;
    letter-spacing: 2px;
  }
  a.action-btn {
    padding: 0.8em 1.2em;
    /* background-color: var(--cl-red); */
    /* border-radius: 0.3em; */
    /* text-decoration: none; */
    /* font-weight: 700; */
    /* color: var(--cl-light-grayish-blue); */
  }
}


@media screen and (max-width: 410px) {
  div[role="header"] {
    width: 85%;
  }
  
  div.content > .content-item.right > img {
    margin-left: 3.75%;
  }
  div.content > .content-item.left {
    padding: 20% 7.5%;
  }
}

@media screen and (max-width: 380px) {
  div[role="header"] {
    width: 90%;
  }
  
  div.content > .content-item.right > img {
    margin-left: 2.5%;
  }
  div.content > .content-item.left {
    padding: 20% 5%;
  }
  div.actions > span {
    padding-left: 0;
    display: block;
    padding-top: 1em;
    letter-spacing: 2px;
  }
}