@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --app-orange: hsl(31, 77%, 52%);
  --app-cyan: hsl(184, 100%, 22%);
  --app-dark-cyan: hsl(179, 100%, 13%);
  --app-light-gray: hsl(0, 0%, 95%);
  --app-white: hsla(0, 0%, 100%, 0.75);
}

body {
  background: var(--app-light-gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 90%;
}

.container > .item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container > .item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.learn-more-button {
  display: block;
  font-family: 'Lexend Deca', sans-serif;
  background: var(--app-light-gray);
  padding: 10px 20px;
  border-top: 1em;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid var(--app-light-gray);
}

.item {
  width: 30%;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--app-white);
  font-size: medium;
  padding: 5em;
}

.card-title {
  padding-top: 1em;
  font-family: 'Big Shoulders Display', cursive;
  color: var(--app-light-gray);
  font-weight: bolder;
  font-size: xxx-large;
  text-transform: uppercase;
}

.card-desc {
  padding: 1em 0 3em;
  line-height: 2;
}

.learn-more-button:hover {
  background: transparent;
  color: var(--app-light-gray);
  cursor: pointer;
}

.orange {
  background: var(--app-orange);
}

.orange-text {
  color: var(--app-orange);
}

.cyan {
  background: var(--app-cyan);
}

.cyan-text {
  color: var(--app-cyan);
}

.dark-cyan {
  background: var(--app-dark-cyan);
}

.dark-cyan-text {
  color: var(--app-dark-cyan);
}

@media screen and (max-width: 1024px) {
  body {
    justify-content: flex-start;
  }

  .container {
    flex-direction: column;
  }

  .item {
    width: auto;
  }
  
  .learn-more-button {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .container > .item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .container > .item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 375px) {
  .learn-more-button {
    padding: 10px 20px;
    border-radius: 20px;
  }

  .item {
    padding: 2.5em;
  }
  
}
