@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,700;1,700&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    outline: 0;
    border: 0;
    margin: 0;
}

.mobile {
    display: none !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    padding: 3em 0;
}

nav > div.nav-action {
    padding: 0.5em 1.7em;
    border-radius: 3em;
    color: var(--light-pink);
    border: 2px solid var(--light-pink);
    font-weight: 600;
    box-shadow: 0px 0px 5px #00000047;
}

section.hero > div.hero-section.wrap {
    width: 80%;
    max-width: 1440px;
    text-align: center;
    margin: auto;
    padding: 8em 0;
}

section.hero > div.hero-section.wrap > h1.hero-heading {
    font-size: 3rem;
}

section.hero > div.hero-section.wrap > p.hero-desc {
    line-height: 1.5;
    font-size: 1.2rem;
    padding: 2em 0;
    width: 50%;
    margin: auto;
}

div.main-action {
    padding: 1.25em 4em;
    background-color: var(--pink);
    color: white;
    font-weight: 700;
    border-radius: 5em;
    display: inline-block;
    font-size: 1.2rem;
    box-shadow: 0px 5px 10px #00000047;
}

section.hero > div.hero-section.wrap > div.hero-img {
    padding: 6em 0;
}

section.hero > div.hero-section.wrap > div.hero-img > img {
    width: 90%;
}

section.hero > div.hero-section.wrap > div.hero-stats-wrap {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.hero > div.hero-section.wrap > div.hero-stats-wrap > div.stats-item > span.num{
    font-weight: bolder;
    font-size: 5rem;
}

section.hero > div.hero-section.wrap > div.hero-stats-wrap > div.stats-item > span.desc{
    font-size: 1.2rem;
    color: grey;
    font-weight: 600;
}

section.hero > div.hero-section.wrap > div.hero-stats-wrap > div.stats-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.hero > div.hero-section.wrap > div.hero-stats-wrap > div.stats-item > img {
    align-self: start;
}

section.curvy-section > img {
    width: 100%;
    display: block;
}

section.curvy-section > div.section-wrap {
    background-color: var(--very-pale-blue);
}

section.curvy-section > div.section-wrap.bg-white {
    background-color: white;
}

section.curvy-section > div.section-wrap > div.section-content {
    display: flex;
    width: 80%;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
    padding: 5em 0;
}

section.curvy-section > div.section-wrap > div.section-content > div.section-desc > h1 {
    font-size: 2rem;
}

section.curvy-section > div.section-wrap > div.section-content > div.section-desc > p {
    line-height: 1.5;
    margin-top: 1.5em;
}

section.curvy-section > div.section-wrap > div.section-content > div.section-img > img {
    width: 100%;
}

section.get-started {
    padding: 8em 0;
    text-align: center;
}

section.get-started > h1 {
    font-size: 2.2rem;
}

section.get-started > div.get-started-btn {
    margin-top: 2em;
}

footer > img {
    display: block;
    width: 100%;
}

footer > div.footer-wrap {
    background-color: var(--very-dark-cyan);
    padding: 5em 0;
    color: white;
}

footer > div.footer-wrap > div.footer-content {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

footer > div.footer-wrap > div.footer-content > div.footer-address {
    flex-basis: 25%;
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter {
    flex-basis: 40%;
}

footer > div.footer-wrap > div.footer-content > div.footer-address > img,
footer > div.footer-wrap > div.footer-content > div.footer-address > div.socials-wrap > img {
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(264deg) brightness(114%) contrast(100%);
}

footer > div.footer-wrap > div.footer-content > div.footer-address > p {
    line-height: 1.5;
    margin: 2em 0;
}

footer > div.footer-wrap > div.footer-content > div.footer-address > div.socials-wrap {
    display: flex;
    gap: 1.6em;
    margin-top: 5em;
}

footer > div.footer-wrap > div.footer-content > div.footer-address > div.socials-wrap > img {
    width: 2em;
}

footer > div.footer-wrap > div.footer-content > div.footer-address > div.phone-wrap,
footer > div.footer-wrap > div.footer-content > div.footer-address > div.email-wrap {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter > h2 {
    text-transform: uppercase;
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter > p {
    width: 70%;
    line-height: 1.5;
    margin: 2em 0;
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap {
    display: flex;
    align-items: stretch;
    gap: 2em;
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap > input  {
    padding: 0.8em;
    border-radius: 5px;
    flex-grow: 1;
    border: 2px solid var(--very-dark-cyan);
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap > input:focus {
    border: 2px solid var(--light-red);
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap > div.newsletter-action {
    background-color: var(--pink);
    padding: 0.7em 2em;
    border-radius: 5px;
    font-weight: bold;
}

footer > div.footer-wrap > div.footer-content > div.footer-newsletter > span.email-error {
    display: none;
    color: var(--light-red);
    font-size: 0.8rem;
}

/* HOVER STYLES */
@media (hover: hover) {
    nav > div.nav-action:hover {
        box-shadow: 0px 0px 10px #00000047;
        cursor: pointer;
    }

    div.main-action:hover {
        background-color: var(--light-pink);
        cursor: pointer;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-address > div.socials-wrap > img:hover {
        filter: invert(78%) sepia(61%) saturate(5944%) hue-rotate(151deg) brightness(104%) contrast(98%);
        cursor: pointer;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap > div.newsletter-action:hover {
        background-color: var(--light-pink);
        cursor: pointer;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap > input:hover {
        border: 2px solid var(--light-red);
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }

    p {
        font-size: 1.2rem;
    }

    section.hero > div.hero-section.wrap > div.hero-stats-wrap {
        flex-direction: column;
        gap: 7em;
    }

    section.hero > div.hero-section.wrap > p.hero-desc {
        width: 80%;
    }

    section.curvy-section > div.section-wrap > div.section-content {
        flex-direction: column;
    }

    section.curvy-section > div.section-wrap > div.section-content > div.section-img {
        order: -1;
    }

    section.curvy-section > div.section-wrap > div.section-content > div.section-desc {
        text-align: center;
    }

    section.curvy-section > div.section-wrap > div.section-content > div.section-desc > p {
        font-size: 1.2rem;
    }

    footer > div.footer-wrap > div.footer-content {
        flex-direction: column;
        gap: 8em;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-newsletter {
        order: -1;
    }

    section.get-started {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    nav {
        width: 85%;
    }

    nav > div.logo > img {
        width: 140px;
    }

    nav > div.nav-action {
        padding: 0.25em 1.2em;
    }

    section.hero > div.hero-section.wrap > h1.hero-heading {
        font-size: 1.8rem;
    }

    section.hero > div.hero-section.wrap > p.hero-desc {
        width: 100%;
    }

    div.main-action {
        padding: 1em 2.4em;
        font-size: 1.1rem;
    }

    section.hero > div.hero-section.wrap {
        padding: 5em 0;
    }

    section.hero > div.hero-section.wrap > p.hero-desc {
        font-size: 1rem;
    }

    section.hero > div.hero-section.wrap > div.hero-img > img {
        width: 100%;
    }

    div.main-action {
        margin-top: 1em;
    }

    section.curvy-section > div.section-wrap > div.section-content > div.section-desc > h1 {
        font-size: 1.7rem;
    }

    section.get-started > h1 {
        font-size: 2rem;
    }

    section.get-started {
        padding: 8em 0 14em;
    }
    
    footer > div.footer-wrap > div.footer-content > div.footer-newsletter > h2 {
        font-size: 1.5rem;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-newsletter > p {
        width: 100%;
        font-size: 1.1rem;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap {
        align-items: unset;
        gap: 1em;
        flex-direction: column;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap > input {
        padding: 1.3em;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-newsletter > div.newsletter-wrap > div.newsletter-action {
        padding: 1em 3em;
        align-self: flex-end;
        font-size: 1rem;
    }

    footer > div.footer-wrap > div.footer-content > div.footer-address > p {
        font-size: 1rem;
    }
}