@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
  --app-d-red: hsl(0, 36%, 70%);
  --app-soft-red: hsl(0, 93%, 68%);
  --app-gray-red: hsl(0, 6%, 24%);
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff8f8;
}

.logo-div {
  position: absolute;
  top: 3em;
  left: 6em;
}

.mob-img {
  display: none;
}

.container {
  display: flex;
}

.picture {
  width: 40vw !important;
  height: 100vh;
  background-image: url(./images/hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
}

.content {
  box-sizing: border-box;
  width: 60vw !important;
  padding: 3em 8em 3em 6em;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0em bottom 0em;
  min-height: 100vh;
}

.title > span {
  display: block;
  color: var(--app-gray-red);
}

.title {
  margin-top: 2em;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 10px;
}

.title > span:first-child {
  color: var(--app-d-red);
  font-weight: 300;
}

.content-desc {
  margin-top: 2.5em;
  color: var(--app-d-red);
  line-height: 1.5;
  font-size: 0.9em;
}

.email-wrap {
  width: 100%;
  margin-top: 4em;
  position: relative;
}

.email-input {
  box-sizing: border-box;
  padding: 0.8em 7em 0.8em 1.2em;
  border-radius: 10em;
  width: 100%;
  color: hsla(0, 6%, 24%, 0.2);
  border: 2px solid hsla(0, 6%, 24%, 0.2);
  font-size: 1em;
  font-weight: bold;
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
}

.email-input::placeholder {
  color: hsla(0, 6%, 24%, 0.2);
  font-family: 'Josefin Sans', sans-serif;
}

.email-input:focus {
  outline: none;
  border: 2px solid var(--app-soft-red);
  color: black;
  font-weight: bold;
  background: white;
}

.send-btn {
  border-radius: 10em;
  margin-left: 0em;
  position: absolute;
  right: 0em;
  top: 0;
  height: 100%;
  width: 6em;
  border: 0;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.err-icon {
  visibility: hidden;
  position: absolute;
  right: 5.4em;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.err-msg {
  visibility: hidden;
  color: red;
  padding: 0.8em 1.2em;
}

.send-btn:hover {
  box-shadow: 0 10px 10px var(--app-d-red);
}

@media screen and (max-width: 930px) {
  .content {
    padding: 3em 6em 3em 4em;
  }

  .logo-div {
    left: 4em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .title {
    margin-top: 1.5em;
    font-size: 3.5em;
  }

  .content {
    padding: 0em 2em 1em;
    width: 100vw !important;
    text-align: center;
    min-height: auto;
  }

  .mob-img {
    display: block;
    margin-top: 6em;
  }

  .picture {
    display: none;
  }

  .send-btn {
    width: 4.5em;
  }

  .email-wrap {
    margin-top: 2.5em;
  }

  .logo-div {
    left: 2em;
    top: 2em;
  }

  .logo {
    width: 10em;
  }

  .err-icon {
    right: 4.4em;
  }

  .email-input {
    padding-right: 6em;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    width: 8em;
  }

  .title {
    font-size: 2.5em;
  }
}
