:root {
  /* primary */
  --light-red: hsl(356, 100%, 66%); /*(CTA text)*/
  --very-light-red: hsl(355, 100%, 74%); /*(CTA hover background)*/
  --very-dark-blue: hsl(208, 49%, 24%); /*(headings)*/
  /* Neutral */
  --white: hsl(0, 0%, 100%); /*(text)*/
  --grayish-blue: hsl(240, 2%, 79%); /*(footer text)*/
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /* (body copy)*/
  --very-dark-black-blue: hsl(240, 10%, 16%); /*(footer background)*/
  /* Gradient */
  /* Background gradient - Intro/CTA mobile nav: */
  --grad-very-light-red: hsl(13, 100%, 72%);
  --grad-light-red: hsl(353, 100%, 62%);
  /* Background gradient - body: */
  --grad-very-dark-gray-blue: hsl(237, 17%, 21%);
  --grad-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ham-menu-div {
  display: none;
}

.menu-close {
  display: none;
}

.mobile {
  display: none;
}

.mobile-nav-menu-wrap {
  display: none;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-color: var(--white);
  position: absolute;
  width: 90%;
  top: 5.5em;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 8px;
  font-weight: 500;

  font-size: 1.2rem;
  padding: 1em;
  box-shadow: 0 0 20px 10px #0000003b;
}

.mobile-nav-main-menu {
  color: var(--very-dark-black-blue);
}

.mobile-nav-menu-group {
  padding-bottom: 1em;
}

.mobile-login-wrap {
  border-top: 1px solid #80808045;
}

.mobile-nav-sub-menu-group {
  display: none;
  background-color: var(--grayish-blue);
  color: var(--very-dark-grayish-blue);
  padding: 1em 1em 0 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.mobile-nav-sub-menu {
  padding-bottom: 1em;
}

.mobile-signup-button {
  padding: 0.6em 1.4em;
  border-radius: 10em;
  width: max-content;
  margin: auto;
  color: var(--white);
  background-image: linear-gradient(
    to right,
    var(--grad-very-light-red),
    var(--grad-light-red)
  );
}

.mobile-login-button {
  padding: 1em 0;
}

.header-wrap {
  background-image: linear-gradient(
      to right,
      var(--grad-very-light-red),
      var(--grad-light-red)
    ),
    url(../images/bg-pattern-intro.svg);
  height: 80vh;
  background-position: center, bottom -50em left -5em;
  background-size: cover, 170%;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  border-bottom-left-radius: 5em;
}

/* flex container */
.header-nav {
  display: flex;
  padding: 2em 6em;
  font-family: 'Ubuntu', sans-serif;
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
}

/* header-nav flex item */
.logo-header {
  flex: 1 1;
  justify-self: flex-start;
}
/* header-nav flex item */
.nav-menu-wrap {
  flex: 5 5;
  justify-self: center;
}
/* header-nav flex item */
.login-wrap {
  flex: 2 2;
  justify-self: flex-end;
}

/* hidden sub menu nav */
.nav-sub-menu-group {
  position: absolute;
  top: 3em;
  left: 0;
  background-color: var(--white);
  color: var(--very-dark-grayish-blue);
  padding: 1.5em;
  line-height: 2;
  border-radius: 5px;
  width: 10em;
  box-shadow: 0 0 20px 10px #0000003b;
  font-size: small;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.nav-sub-menu:hover {
  font-weight: 700;
  cursor: pointer;
}

.nav-main-menu:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--white);
}

/* flex container */
.nav-menu-wrap {
  display: flex;
}

/* flex item- .nav-menu-wrap */
.nav-menu-group {
  padding: 0.6em 1.4em;
  position: relative;
}

/* flex container */
.login-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

/* flex item - login-wrap */
.signup-button {
  padding: 0.6em 2em;
  background-color: var(--white);
  color: var(--light-red);
  border-radius: 10em;
  font-weight: 700;
  margin-left: 2em;
}
.signup-button:hover {
  background-color: var(--very-light-red);
  color: var(--white);
  cursor: pointer;
}

/* flex container */
.header-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 12em);
}

/* flex-item header-content-wrap */
.header-content-title {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: var(--white);
}
/* flex-item header-content-wrap */
.header-content-desc {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.7);
  margin: 0.6em 0;
}

/* flex container */
.header-content-actions-wrap {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
/* flex-item .header-content-actions-wrap */
.header-content-action-button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  padding: 0.7em 1em;
  border-radius: 10em;
}
.header-content-action-button.red {
  color: var(--light-red);
  background-color: var(--white);
}
.header-content-action-button.red:hover {
  background-color: var(--very-light-red);
  color: var(--white);
  cursor: pointer;
}
.header-content-action-button.white {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}
.header-content-action-button.white:hover {
  color: var(--light-red);
  background-color: var(--white);
  cursor: pointer;
}

.section-two-wrap {
  background-image: url(../images/illustration-editor-desktop.svg);
  background-position: top right -10em;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2em;
  font-family: 'Overpass', sans-serif;
}

.section-two-picture {
  margin-top: 2em;
}

.section-two-title {
  color: var(--very-dark-black-blue);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2em;
}

.section-two-content {
  width: 50%;
  padding-left: 6em;
  padding-bottom: 8em;
}

.section-two-sub-title {
  font-size: 1.5rem;
  color: var(--very-dark-black-blue);
  font-weight: 600;
  margin: 2em 0 0.8em 0;
}

.section-two-desc-para {
  font-size: 0.8rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 300;
  line-height: 2;
  max-width: 650px;
}

.section-three-wrap {
  color: var(--white);
  background-image: url(../images/bg-pattern-circles.svg),
    linear-gradient(
      to right,
      var(--grad-very-dark-gray-blue),
      var(--grad-very-dark-desaturated-blue)
    );
  background-position: top 75% left -40%, center;
  background-repeat: no-repeat;
  background-size: 65vw, auto;
  font-family: 'Overpass', sans-serif;
  border-bottom-left-radius: 5em;
  border-top-right-radius: 5em;
}

.section-three-outer {
  padding: 5em 0;
  position: relative;
}

.section-three-outer > img {
  position: absolute;
  top: 0;
  left: 5vw;
  height: 100%;
}

.section-three-title {
  font-size: 2rem;
  font-weight: 600;
}

.section-three-content {
  max-width: 650px;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2;
  margin-top: 1em;
}

.section-three-content-wrap {
  width: 55%;
  padding: 5em 6em;
  margin-left: auto;
}

.section-four-wrap {
  background-image: url(../images/illustration-laptop-desktop.svg);
  background-position: top left -15em;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2em;
  font-family: 'Overpass', sans-serif;
}

.section-four-content {
  width: 50%;
  padding: 8em 6em 0;
  padding-left: 6em;
  padding-bottom: 8em;
  margin-left: auto;
}

/* flex-container */
.footer-wrap {
  margin-top: 5em;
  background-color: var(--very-dark-black-blue);
  border-top-right-radius: 5em;
  color: var(--grayish-blue);
  font-family: 'Ubuntu', sans-serif;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  line-height: 2;
}
/* flex-item .footer-wrap */
.footer-wrap > * {
  width: 20%;
  justify-self: flex-start;
}

.footer-menu-group {
  font-weight: 700;
  margin-bottom: 0.8em;
}
.footer-menu-item {
  opacity: 0.6;
}
.footer-menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .nav-menu-wrap {
    flex: 4 4;
  }
  .header-nav {
    padding: 2em 4em;
  }
  .section-two-content {
    padding-left: 3em;
  }

  .section-two-wrap {
    background-position: top right -20em;
  }

  .section-three-content-wrap {
    padding: 5em 2em;
    width: 45%;
  }

  .section-three-outer > img {
    left: 0;
  }

  .section-four-content {
    padding: 4em 3em;
  }

  .section-four-wrap {
    background-position: top left -20em;
  }
}

@media screen and (max-width: 840px) {
  .ham-menu-div {
    display: block;
  }

  .mobile {
    display: block;
  }

  .nav-menu-wrap {
    display: none;
  }

  .login-wrap {
    display: none;
  }

  .header-wrap {
    background-position: center, bottom -25em left -15em;
    background-size: cover, 200%;
    height: 90vh;
  }

  .header-content-title {
    font-size: 2.5rem;
    padding-right: 1em;
    padding-left: 1em;
  }

  .header-nav {
    padding: 3em 2em;
  }

  .header-content-desc {
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
  }

  .section-two-wrap {
    background-image: none;
    text-align: center;
  }

  .section-two-picture > img,
  .section-four-picture > img {
    width: 100%;
  }

  .section-four-wrap {
    background-image: none;
    text-align: center;
  }

  .section-two-content {
    width: 100%;
    padding: 4em;
    padding-top: 2em;
  }

  .section-two-desc-para {
    font-size: 1rem;
  }

  .section-three-content-wrap {
    width: 100%;
    text-align: center;
  }

  .section-three-content {
    font-size: 1rem;
  }

  .section-three-wrap {
    background-position: top -6em center, center;
    background-size: 320px, auto;
  }

  .section-three-outer {
    padding-top: 12em;
  }

  .section-three-outer > img {
    width: 320px;
    height: unset;
    left: 50%;
    transform: translatex(-50%);
  }

  .section-three-content-wrap {
    padding-top: 9em;
  }

  .section-four-content {
    width: 100%;
    padding: 4em;
    padding-top: 2em;
  }

  .footer-wrap {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-menu-group {
    margin-top: 2em;
  }
}

@media screen and (max-width: 425px) {
  .header-wrap {
    background-position: center, bottom -28em left -19em;
    background-size: cover, 300%;
  }

  .header-content-title {
    font-size: 2rem;
  }

  .section-two-title {
    font-size: 1.5rem;
  }
}
